<html>
    <head>
		<meta equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Spring MVC and Velocity</title>
    </head>
    <body>
        <h1>Spring MVC and Velocity</h1>
		<p style="text-align: center">
			<a href="/">home</a> - <a href="/cadastro.html">cadastro</a>
		</p>

        $screen_content

        <hr />
        Copyright &copy 2014 Nutella Internet Business
    </body>
</html>
