<form action="/cadastro.html" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
	<p>
    	Nome:
    	<input type="text" name="title" value="$!business.title">
		#if( $validationResult.hasFieldErrors("title") )
            <strong>Title ${validationResult.getFieldError("title").defaultMessage}.</strong>
		#end
    </p>
    <p>
    	Endereço:
    	<input type="text" name="address" value="Rua da Nutella, 789 - Vila dos Doces">
    </p>
    <p>
    	Email:
    	<input type="email" name="email" value="nutella@corp.nutella.inc">
    </p>
    <p>
    	Telefone:
    	<input type="text" name="phoneNumbers" value="11-3030-3030">
    </p>
	<p>
		Imagem:
		<input type="file" name="image">
			
		#if( $validationResult.hasFieldErrors("image") )
            <strong>Imagem é obrigatória.</strong>
		#end
	</p>
	<p>
        <button type="submit">ENVIAR ></button>
	</p>
</form>